<div class="modal-header">
  <h3>{{$ctrl.attachment_modal_title}}</h3>
</div>
<div class="modal-body">
  <button ng-show="$ctrl.attachments_visible" ng-click=" $ctrl.addForm(0)">Podformularz załącznika</button>
  <form name="exattform">
    <div ng-repeat="form in  $ctrl.displayedForms track by $index">
      <ng-include src="form"></ng-include>
    </div>
  </form>

</div>
<div class="modal-footer">
  <span class="valid-luki-style-2" ng-if="$ctrl.backendtype === 'novalid'">Błąd walidacji.</span>
  <button ng-disabled="exattform.$invalid" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Wyślij</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>
