<h2>Serwis Internetowy do Zarządzania Baza Materiałów Dydaktycznych</h2>
<article>
  <header>
    <h3>Witaj!</h3>
  </header>
  <section>
    <p>Aby przeglądać treści dydaktyczne i móc generować dokumenty,
      konieczne jest zalogowanie się do serwisu za pomocą loginu i hasła wydziałowego ORION.</p>
  </section>

</article>
