<nav ng-controller="navbarLeftCtrl as navbarLCtrl" class="navbar navbar-inverse">
  <div class="navbar-header">
    <a ng-click="navbarLCtrl.goToHomePage()" class="navbar-brand center app-heading" href="#">
      <div>
        Serwis do zarządzania
        <br />
        materiałami dydaktycznymi
      </div>

    </a>
  </div>
  <ul class="nav navbar-nav">
    <li><a ng-click="navbarLCtrl.goToExercisesPage()" ng-hide="navbarLCtrl.isUnLoggedUser()">Zadania</a></li>
    <!-- <li><a ng-click="navbarLCtrl.goToDocumentPage()" ng-hide="navbarLCtrl.isUnLoggedUser()">Receptury dokumentów</a></li> -->
    <li><a ng-click="navbarLCtrl.goToAboutPage()" href="#">O stronie</a></li>
  </ul>
  <navbarright></navbarright>
</nav>
