<div ng-controller="UserPermGroupProgileCtrl as $ctrl">
  <h2>{{$ctrl.bigTotalItems ==1 ? "Profil dostępu do zadań zdefiniowany przez użytkownika" : "Profile dostępu do zadań zdefiniowane przez użytkownika"}}</h2>

  <div ng-if="$ctrl.multipleUserPermissionMode" class="search-panel container-fluid">
    <div class="exerciseheader">
      <h4 class="elubartflex">{{$ctrl.advanced_search ? "Wyszukiwanie zaawansowane" : "Wyszukiwanie proste"}}</h4>
      <button type="button" class="btn btn-link" ng-model="$ctrl.advanced_search" ng-change="clear_search(); ; $ctrl.getAccessGroupsProfile()"
              uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            {{$ctrl.advanced_search ? "Tryb prosty" : "Tryb zaawansowany"}}
      </button>
    </div>
    <form>
      <div ng-hide="$ctrl.advanced_search" class="form-group row">
        <div class="col-sm-12">
          <input ng-model="$ctrl.sim_search.simply" ng-change="$ctrl.getAccessGroupsProfile()" type="text" class="form-control"  placeholder="Szukaj ...">
        </div>
      </div>
      <div ng-show="$ctrl.advanced_search" class="form-group">
        <div class="form-group row">
          <div class="col-sm-6">
            <input ng-model="$ctrl.adv_search.name" ng-change="$ctrl.getAccessGroupsProfile()" type="text" class="form-control" placeholder="Nazwa profilu">
          </div>
          <div class="col-sm-6">
            <input ng-model="$ctrl.adv_search.group" ng-change="$ctrl.getAccessGroupsProfile()" type="text" class="form-control" placeholder="Nazwa grupy LDAP">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Widoczność zadania</label>
          <div class="col-sm-4">
            <div class="btn-group">
              <label class="btn btn-success" ng-model="$ctrl.adv_search.exercisevis" ng-change="$ctrl.getAccessGroupsProfile()" uib-btn-radio="1" uncheckable>
                <span
                  class="glyphicon glyphicon-ok"
                  >
                </span>
              </label>
              <label class="btn btn-danger" ng-model="$ctrl.adv_search.exercisevis" ng-change="$ctrl.getAccessGroupsProfile()" uib-btn-radio="0"uncheckable>
                <span
                  class="glyphicon glyphicon-remove"
                  >
                </span>
              </label>
            </div>
          </div>
          <label for="staticEmail" class="col-sm-2 col-form-label">Widoczność wprowadzenia</label>
          <div class="col-sm-4">
            <div class="btn-group">
              <label class="btn btn-success" ng-model="$ctrl.adv_search.introvis" ng-change="$ctrl.getAccessGroupsProfile()" uib-btn-radio="1" uncheckable>
                <span
                  class="glyphicon glyphicon-ok"
                  >
                </span>
              </label>
              <label class="btn btn-danger" ng-model="$ctrl.adv_search.introvis" ng-change="$ctrl.getAccessGroupsProfile()" uib-btn-radio="0"uncheckable>
                <span
                  class="glyphicon glyphicon-remove"
                  >
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Widoczność wskazówki</label>
          <div class="col-sm-4">
            <div class="btn-group">
              <label class="btn btn-success" ng-model="$ctrl.adv_search.hintvis" ng-change="$ctrl.getAccessGroupsProfile()" uib-btn-radio="1" uncheckable>
                <span
                  class="glyphicon glyphicon-ok"
                  >
                </span>
              </label>
              <label class="btn btn-danger" ng-model="$ctrl.adv_search.hintvis" ng-change="$ctrl.getAccessGroupsProfile()" uib-btn-radio="0"uncheckable>
                <span
                  class="glyphicon glyphicon-remove"
                  >
                </span>
              </label>
            </div>
          </div>
          <label for="staticEmail" class="col-sm-2 col-form-label">Widoczność rozwiązania</label>
          <div class="col-sm-4">
            <div class="btn-group">
              <label class="btn btn-success" ng-model="$ctrl.adv_search.solutionvis" ng-change="$ctrl.getAccessGroupsProfile()" uib-btn-radio="1" uncheckable>
                <span
                  class="glyphicon glyphicon-ok"
                  >
                </span>
              </label>
              <label class="btn btn-danger" ng-model="$ctrl.adv_search.solutionvis" ng-change="$ctrl.getAccessGroupsProfile()" uib-btn-radio="0"uncheckable>
                <span
                  class="glyphicon glyphicon-remove"
                  >
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-check">
              <label class="form-check-label" ><input ng-model="$ctrl.adv_search.operation" ng-change="$ctrl.getAccessGroupsProfile()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="and" checked>
                Profile, do których pasują wszystkie powyższe kryteria</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-check">
              <label class="form-check-label" >
                <input ng-model="$ctrl.adv_search.operation" ng-change="$ctrl.getAccessGroupsProfile()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="or">
                Profile, do których pasuje co najmniej jedno z powyższych kryteriów</label>
            </div>
          </div>
        </div>
      </div>
    </form>
    <p ng-if="$ctrl.multipleUserPermissionMode">Znalezione profile: {{$ctrl.bigTotalItems}} szt.</p>
  </div>
  <button ng-if="$ctrl.multipleUserPermissionMode" type="button" class="btn btn-default" ng-click="$ctrl.openComponentModalCreate()">Utwórz profil dostępu</button>
  <article ng-show="$ctrl.bigTotalItems">
    <header>
      <h3>{{$ctrl.usergroupprofiles.length ==1 ? "Profil dostępu" : "Profile dostępu"}}</h3>
    </header>
    <section class="table-responsive">
      <table ng-if="usergroupprofiles" class="table table-bordered recipe-table table-luki-size">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Grupa</th>
          <th scope="col">Zadanie</th>
          <th scope="col">Wprowadzenie</th>
          <th scope="col">Wskazówka</th>
          <th scope="col">Rozwiązanie</th>
          <th scope="col">Akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="usergroupprofile in usergroupprofiles | orderBy:'name' track by $index">
          <th scope="row">
            {{$index+1+($ctrl.bigCurrentPage-1)*$ctrl.apiPageSize}}
          </th>
          <td>{{usergroupprofile.name}}</td>
          <td>{{usergroupprofile.group.policytype}}</td>
          <td>
            <span
              class="glyphicon"
              ng-class="{
                'glyphicon-ok': usergroupprofile.exercise_vis,
                'glyphicon-remove': !usergroupprofile.exercise_vis
              }">
            </span>
          </td>
          <td><span
            class="glyphicon"
            ng-class="{
              'glyphicon-ok': usergroupprofile.intro_vis,
              'glyphicon-remove': !usergroupprofile.intro_vis
            }">
          </span>
          </td>
          <td>
            <span
              class="glyphicon"
              ng-class="{
                'glyphicon-ok': usergroupprofile.hint_vis,
                'glyphicon-remove': !usergroupprofile.hint_vis
              }">
            </span>
          </td>
          <td>
            <span
              class="glyphicon"
              ng-class="{
                'glyphicon-ok': usergroupprofile.solution_vis,
                'glyphicon-remove': !usergroupprofile.solution_vis
              }">
            </span>
          </td>
          <td>
            <button ng-if="usergroupprofile.owner" uib-tooltip="Edytuj profil dostępu" ng-click="$ctrl.openComponentModal(usergroupprofile)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
              <span class=" glyphicon glyphicon-pencil"></span>
            </button>
            <button ng-if="usergroupprofile.owner" uib-tooltip="Usuń profil dostępu" ng-click="$ctrl.deleteUserGroupProfile(usergroupprofile)" type="button" class="btn-link white" href="#" uib-dropdown-toggle>
             <span class=" glyphicon glyphicon-remove-sign"></span>
            </button>
          </td>
        </tr>
      </tbody>
      </table>
    </section>

  </article>
  <div class="pagination-container">
    <ul ng-show="$ctrl.bigTotalItems && $ctrl.multipleUserPermissionMode" uib-pagination total-items="$ctrl.bigTotalItems" items-per-page="$ctrl.apiPageSize" ng-model="$ctrl.bigCurrentPage" ng-change="$ctrl.getAccessGroupsProfile()" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
    <select class="page-size" ng-show="$ctrl.bigTotalItems" class="form-control" ng-model="$ctrl.apiPageSize" ng-options="opt for opt in $ctrl.options.apiPageSize" ng-change="$ctrl.getAccessGroupsProfile()"></select>

  </div>
  <p ng-hide="$ctrl.bigTotalItems">
    Brak zadań spełniajacych podane kryteria
  </p>
</div>
