<div ng-controller="UserGroupsCtrl as ctrl" >
  <h2>Moje grupy LDAP</h2>
  <div class="container-fluid search-panel" ng-repeat="usergroup in usergroups">
      <header>
        <h3>{{usergroup.policytype}}</h3>
      </header>
    </div>
</div>
