<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.modal_title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <form name="userpermissionform">
    <div class="form-group" ng-class="{
          'has-error': userpermissionform.name.$invalid || $ctrl.backendvalid.name
        }">
      <label for="formGroupExampleInput0">Nazwa profilu dostępu</label>
      <input ng-change="$ctrl.backendvalid.name=''" name="name" ng-maxlength="150" ng-model="$ctrl.items.name" type="text" class="form-control" id="formGroupExampleInput0" placeholder="Nazwa profilu" required>
      <span class="valid-luki-style" ng-show="userpermissionform.name.$invalid"><small>Wymagana nazwa pliku.</small></span>
      <span class="valid-luki-style" ng-show="userpermissionform.name.$invalid"><small>Maksymalna liczba znaków: 150</small></span>
      <span class="valid-luki-style" ng-show="$ctrl.backendvalid.name"><small>{{$ctrl.backendvalid.name[0]}}</small></span>

    </div>
    <div class="form-group">
      <label for="repeatSelect">Wybierz LDAP grupe</label>
      <select class="form-control" ng-model="$ctrl.selected" ng-options="opt.policytype for opt in $ctrl.group_list" ></select>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność zadania</label>
      <div class="col-sm-6">
        <div class="btn-group ">
          <label class="btn btn-success switch-button-luki" ng-change="$ctrl.updateOtherButtons()" ng-model="$ctrl.items.exercise_vis" uib-btn-radio="true" >
            <span
              class="glyphicon glyphicon-ok"
              >
            </span>
          </label>
          <label class="btn btn-danger" ng-change="$ctrl.updateOtherButtons()" ng-model="$ctrl.items.exercise_vis" uib-btn-radio="false" >
            <span
              class="glyphicon glyphicon-remove"
              >
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność wprowadzenia</label>
      <div class="col-sm-6">
        <div class="btn-group">
          <label class="btn btn-success" ng-change="$ctrl.changeFirstButtons()" ng-model="$ctrl.items.intro_vis" uib-btn-radio="true" >
            <span
              class="glyphicon glyphicon-ok"
              >
            </span>
          </label>
          <label class="btn btn-danger" ng-change="$ctrl.changeFirstButtons()" ng-model="$ctrl.items.intro_vis" uib-btn-radio="false" >
            <span
              class="glyphicon glyphicon-remove"
              >
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność wskazówki</label>
      <div class="col-sm-6">
        <div class="btn-group">
          <label class="btn btn-success" ng-change="$ctrl.changeFirstButtons()" ng-model="$ctrl.items.hint_vis" uib-btn-radio="true" >
            <span
              class="glyphicon glyphicon-ok"
              >
            </span>
          </label>
          <label class="btn btn-danger" ng-change="$ctrl.changeFirstButtons()" ng-model="$ctrl.items.hint_vis" uib-btn-radio="false" >
            <span
              class="glyphicon glyphicon-remove"
              >
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-6 col-form-label">Widoczność rozwiązania</label>
      <div class="col-sm-6">
        <div class="btn-group">
          <label class="btn btn-success" ng-change="$ctrl.changeFirstButtons()" ng-model="$ctrl.items.solution_vis" uib-btn-radio="true" >
            <span
              class="glyphicon glyphicon-ok"
              >
            </span>
          </label>
          <label class="btn btn-danger" ng-change="$ctrl.changeFirstButtons()" ng-model="$ctrl.items.solution_vis" uib-btn-radio="false" >
            <span
              class="glyphicon glyphicon-remove"
              >
            </span>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <span class="valid-luki-style-2" ng-if="$ctrl.backendtype === 'novalid'">Błąd walidacji.</span>
  <button ng-disabled="userpermissionform.name.$invalid" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Wyślij</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>
