article {
  background: #eee;
  margin: 20px 0px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
  border: solid 1px rgba(0, 0, 0, 0.2);
}
body {
  font-family: sans-serif;
}
article > header {
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}
article > * {
  padding: 5px 10px 2px;
}
h2 {
  text-align: center;
}


/*kategorie*/
#allcategoryli {
  font-weight: 700;
}

#allcategoryol {
  padding: inherit;
  list-style-type: none;
}

#divkam {
    margin: 13px 0px;
}

textarea.form-control {
    min-width: 100%;
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}

.center {
    padding: 5px 5px;
    text-align: center;
}

.exerciseheader {
  display: flex;
  align-items: center;
}

.elubartflex {
  flex: 1;
  margin: 15px 0px;
}

.elubartp {
  text-align: right;
  padding-top: 20px;
}


/*.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #ddd;
    background-color: #50514c;
    border-color: #ddd;
}

.pagination > li > span {
  color: #787c6c;
}

.pagination > li > a {
  color: #3a3d38;
  font-weight: bold;
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color:    #50514c ;
  border-color:         #787c6c;
  color:               white;
  cursor:pointer;
  z-index:2;
}*/


.category-tree .btn {

    white-space: normal;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;

}

.category-tree li {
    margin-top: 2px;
}

.category-tree ol {
    /*padding-left: 10px !important;*/
    align-items: stretch;
}
.category-tree .opener {

    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 3px;
    margin-right: 4px;
    padding-top: 3px;

}

.category-tree .category-name {
  flex: 1;
}
.app-heading {
  font-size: 15px;
  font-weight: bold;
  /*text-transform: uppercase;*/
  line-height: 125%;
  display: flex;
}

.app-heading div {
  margin: auto;
}

.exercise-title {
  font-weight: bold;
  padding-left: 5px;
}

.document-title {
  font-weight: bold;
  padding-left: 5px;
}

.image-border {
  border-width: 2px;
  border-style: solid;
  text-align: center;
  border-color: black;
  display: inline-block;
  max-width: 128px;
  width: -moz-available;
  height: auto;

}

.image-miniature {

    width: 30%;
    height: auto;
    max-width: -moz-fit-content;

}

.documentheader {
  display: flex;
  align-items: center;
}

.recipe-table {
  background-color: white;
}

.pdflatex-content-data {
  border: 2px;
  border-color: #bfbfbf;
  border-style: solid;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 7px;
}

.pagination-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.search-panel {
  background: #eee;
  margin: 20px 0px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.btn-success:active, .btn-success.active {
  background-color: #246e24;
}

.btn-danger:active, .btn-danger.active {
  background-color: #aa2522;
}


.image-exercise-get {
  text-align: -moz-center;
}

.align-cog-to-right {
  margin-left: auto;
}

.menu-on-top {
  position: static;
}

.table-luki-size {
  display: table-cell;
}


.page-size {
    margin-bottom: auto;
    margin-top: auto;
}
