<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Serwis do zarządzania baza materiałów dydaktycznych</title>
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link rel="shortcut icon" href="#" />
	<base href="/sidzbmd/client/">
</head>
<body ng-app="index">
<div ng-controller="AlertCtrl as alertCtr">
<navcomponent></navcomponent>
<div style="position: fixed; top: 55px; right: 0; left: 0; z-index:500">
	<div dismiss-on-timeout=5000 uib-alert ng-repeat='alert in alerts' ng-class="'alert alert-' + (alert.type || 'warning')" close='closeAlert($index)' ng-bind="alert.msg"></div>
</div>
<div style="top: 55px; right: 0; left: 0; height:55px"></div>
      <main class="container-fluid" ng-view>

      </main>
</div>
</body>
</html>
